container, a {
    border: black solid 1px;

  }

  .mainContainer {
    margin: 3vh;
    padding: 1vh;
    width: 95vw;
    height: 90vh;
  }

  .operatorList {
    width: 95vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow: auto;
  }

  .operatorCard {
    margin: 1%;
    width: 20vh;
    height: 45%;
  }